@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* 中间导航部分*/
.content {
  width: 100%;
  margin-top: 51px;
  margin-bottom: 50px;
  background-color: red;
}

.content .c_center {
  width: 1000px;
  margin: 0 auto;
  background-color: yellow;
}

.content .c_center .c_center_top p {
  font-size: 30px;
  text-align: center;
}

.content .c_center .lei {
  transform: translate(22.5%);
}

.content .c_center .lei li {
  text-align: center;
  float: left;
  width: 167px;
  box-sizing: border-box;
  height: 43px;
  margin-right: 20px;
}

.content .c_center .lei li p {
  line-height: 43px;
}

.content .c_center .lei li:nth-child(1) {
  border-bottom: 4px solid #fd5238;
}

.center_text {
  width: 100%;
  margin-bottom: 50px;
}

.center_text .text {
  width: 1000px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.center_text .text ul li {
  width: 222px;
}

.center_text .text ul li img:nth-child(1) {
  width: 222px;
}

.center_text .text ul li p:nth-child(2) {
  margin-top: 13px;
  margin-bottom: 5px;
}

.center_text .text ul li .price {
  margin-top: 25px;
}

.center_text .text ul li .price ul {
  overflow: hidden;
}

.center_text .text ul li .price ul span:nth-child(1) {
  color: red;
  font-weight: bold;
}

.center_text .text ul li .price ul li {
  float: left;
}
