*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
ul,li{
    list-style: none;
}
.head{
    width: 100%;
    height: 76px;
    border-bottom: 1px solid rgb(208,208,208);
}
a{
    color: black;
    text-decoration: none;
}
.head_top{
    width: 1000px;
    height: 76px;
    margin: 0 auto;
    overflow: hidden;
    img:nth-child(1){
        width: 133px;
        float: left;
        margin-top: 11px;
    }
    ul:nth-child(2){
        margin-top: 32px;
        margin-left: 66px;
        overflow: hidden;
        float: left;
        li{
            margin-right: 42px;
            float: left;
            
            a{
                font-size: 20px;
            }
        }
    }
    ul:nth-child(3){
        float: right;
        margin-top: 32px;
        overflow: hidden;
        li{
            height: 30px;
            width: 51px;
            float: left;
            margin-left: 14px;
            border: 1px solid #ff4b3f;
            border-radius: 10px;
            text-align: center;
            a{
                font-size: 14px;
                line-height: 30px;
                color: #ff4b3f;
            }
        }
        li:nth-child(1){
            width: 25px;
            height: 25px;
            border: 1px none;
            background: url(../img/search.png) no-repeat;
            margin-top: 5px;
        }
    }
}
/* 尾部 */
.footer{
    width: 100%;
    height: 360px;
    background-color: #505050;
   
    .footer_top{
        width: 1000px;
        height: 360px;
        margin: 0 auto;
        .both{
            overflow: hidden;
            img:nth-child(1){
                margin-top: 40px;
                float: left;
                width: 161px;
            }
            .both_left{
                float: left;
                width: 132px;
                margin-left: 21px;
                li:nth-child(1){
                    img:nth-child(1){
                        width: 123px;
                    }
                }
                li{
                    color: #a5a3a4;
                   width: 131px;
                    float: left;
                    margin-bottom: 18px;
                }
            }
            /* 免费试用 */
            .both_left_1{
                width: 93px;
                margin-top: 40px;
                float: left;
                margin-left: 33px;
                li{
                    float: left;
                    margin-bottom: 8px;
                    a{
                        color: #a5a3a4;
                    }
                }
                li:nth-child(1){
                    color: white;
                    font-size: 18px;
                    margin-bottom: 29px;
                }
            }
            /* 友情链接 */
            .both_left_2{
                width: 66px;
                height: 204px;
                margin-top: 40px;
                float: left;
                margin-left: 33px;
                li{
                    width: 50px;
                    float: left;
                    margin-bottom: 3px;
                    margin-right: 5px;
                    a{
                        color: #a5a3a4;
                    }
                }
                li:nth-child(1){
                    color: white;
                    font-size: 18px;
                    margin-bottom: 29px;
                    width: 93px;
                }
            }
            .both_left_12{
                float: left;
                margin-top: 94px;
                li{
                    margin-bottom: 3px;
                    a{
                        color: #a5a3a4;
                    }
                }
            }
            /* 购买攻略 */
            .both_left_3{
                width: 143px;
                margin-top: 40px;
                float: left;
                margin-left: 33px;
                li{
                    float: left;
                    margin-bottom: 8px;
                    a{
                        color: #a5a3a4;
                    }
                }
                li:nth-child(1){
                    color: white;
                    font-size: 18px;
                    margin-bottom: 29px;
                }
            }
            .both_left_4{
                width: 159px;
                margin-top: 40px;
                float: left;
                margin-left: 33px;
                li{
                    float: left;
                    margin-bottom: 8px;
                    a{
                        color: #a5a3a4;
                    }
                }
                li:nth-child(1){
                    color: white;
                    font-size: 18px;
                    margin-bottom: 29px;
                    width: 159px;
                }
            }
        }
    }
}
