* {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  margin-top: 51px;
  height: 670px;
  margin-bottom: 50px;
}

.content .c_center {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}

.content .c_center .c_left {
  width: 220px;
  height: 225px;
  background-color: #f3f3f3;
  padding: 36px 20px 41px 20px;
  border-radius: 5px;
  float: left;
}

.content .c_center .c_left .c_left_top {
  border-bottom: 1px solid #a3a3a3;
}

.content .c_center .c_left .c_left_top p:nth-child(1) {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-left: 8px;
}

.content .c_center .c_left .c_left_top1 {
  margin-top: 16px;
}

.content .c_center .c_left .c_left_top1 li {
  margin-bottom: 8px;
}

.content .c_center .c_left .c_left_top1 p:nth-child(1) {
  font-size: 14x;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-left: 8px;
}

.content .c_center .c_left .c_left_top1 li {
  margin-left: 33px;
}

.content .c_center .c_right {
  background-color: #f3f3f3;
  padding: 36px 20px 41px 20px;
  border-radius: 5px;
  margin-left: 30px;
  float: left;
  width: 670px;
}

.content .c_center .c_right .c_right_top {
  border-bottom: 1px solid #a3a3a3;
}

.content .c_center .c_right .c_right_top p {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.content .c_center .c_right .c_right_text p {
  font-size: 16px;
  font-weight: bold;
  color: #484e4c;
  margin-top: 18px;
  margin-bottom: 18px;
}

.content .c_center .c_right .pai {
  margin-bottom: 50px;
}

.content .c_center .c_right .pai li {
  margin-bottom: 5px;
}
